<link href="libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
<div class="container">
      <div class="page-header">
        <h1>Mget2</h1>
      </div>
      <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
      <p>Use <a href="../sticky-footer-navbar">ahnlab malware process system</a> if need be, too.</p>
    </div>
    
    <div class="container">
	<textarea ng-model="samples" type="text" class="form-control" rows="15" placeholder="Paste your hashes here (MD5 or Sample Code). Any kind of text is accepted (i.e. XML, CSV)."></textarea>

	<button type="button" class="btn btn-success" ng-click="search(samples)">
  		<span class="glyphicon glyphicon glyphicon-search" aria-hidden="true"></span> Search</button>
	
	<button type="button" class="btn btn-primary" ng-click="open()">
  		<span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span> Download</button>
</div>